.CurrentWeather {
	color: #FFF;
	display: flex;
	justify-content: space-between;
	border: 0.02rem solid ghostwhite;
	padding: 2rem;
	margin: 1rem;
}

.currentHeader {
	color: #FFF;
	font-family: 'Open Sans';
	font-size: 1.8rem;
	padding: 0 0 1rem 1rem;
	text-align: left;
  }

.current-temp {
	font-size: 6rem;
}

.hi-lo {
	align-items: center;
	display: flex;
}

.rangeTemp {
	font-size: 3.2rem;
}

.subHeader {
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
}

.spacer {
	margin: 0 2rem;
}

.weather-box {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.weather-icon {
	width: 15rem;
}