.CurrentWeather {
	color: #FFF;
  display: flex;
  justify-content: space-between;
  border: 0.02rem solid ghostwhite;
  padding: 2rem;
  margin: auto;
}

.current-temp {
	font-size: 6rem;
}

.condition {
	font-size: 1.4rem;
}

h2 {
	font-size: 1.8rem;
}

.hi-lo {
	align-items: center;
	display: flex;
}

.spacer {
	margin: 0 2rem;
}

.weather-box {
	align-items: center;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.weather-icon {
	width: 15rem;
}