.Search {
  display: flex;
  flex-direction: column;
}

.citySuggestion {
  background-color: rgb(37, 39, 53);
  color: #FFF;
  padding: 1.5rem;
  width: 100%;
  z-index: 5;
}

.citySuggestion:hover {
  background-color: rgb(67, 70, 94);
}

.Inputs {
  display: flex;
  height: 4rem;
}

.citySuggestion, .searchField, .searchButton {
  border: 0.02rem solid ghostwhite;
  font-size: 1.4rem;
  outline: none;
}

.searchButton {
  border-radius: 0 2rem 2rem 0;
}

.searchField {
  border-radius: 2rem 0 0 2rem;
  flex: 2;
  padding-left: 1rem;
}

.suggestBox {
  display: flex;
  flex-direction: column;
  height: 0;
  list-style: none;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0;
}