.SevenDay {
	color: #FFF;
  display: flex;
  justify-content: space-between;
  border: 0.02rem solid ghostwhite;
  padding: 2rem;
  margin: auto;
}

.day,
.condition,
.highLow,
.spacer {
	display: inline-flex;
}
