.SevenDay {
	color: #FFF;
  display: flex;
  justify-content: space-between;
}

.day,
.condition,
.highLow,
.spacer {
	display: inline-flex;
}

.sectionHeader {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 1.8rem;
  padding: 1rem 0 0 1rem;
  text-align: left;
}
