.TenHour {
	color: #FFF;
  display: flex;
  justify-content: space-between;
}

.time,
.condition,
.temp {
	padding: 1rem;
}

.spacer {
	margin: auto 2rem;
	font-size: 1.8rem;
}

.sectionHeader {
  color: #FFF;
  font-family: 'Open Sans';
  font-size: 1.8rem;
  padding: 1rem 0 0 1rem;
  text-align: left;
}