.TenHour {
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.spacer {
  margin: auto 2rem;
  font-size: 1.8rem;
}

.tenHourHeader {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.8rem;
  padding: 1rem 0 1rem 1rem;
  text-align: left;
}
